/* ----------------------------- */
/* Page specific background      */
/* ----------------------------- */
body {
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
}
/* ******* home **************** */
.home {
  background-image: url(../assets/home/background-home-mobile.jpg);
}

@media (min-width: 35rem) {
  .home {
    background-position: center center;
    background-image: url(../assets/home/background-home-tablet.jpg);
  }
}

@media (min-width: 45rem) {
  .home {
    background-image: url(../assets/home/background-home-desktop.jpg);
  }
}
/* destination */
.destination {
  background-image: url(../assets/destination/background-destination-mobile.jpg);
}
@media (min-width: 35rem) {
  .destination {
    background-image: url(../assets/destination/background-destination-tablet.jpg);
  }
}
@media (min-width: 45rem) {
  .destination {
    background-image: url(../assets/destination/background-destination-desktop.jpg);
  }
}
/* ----------------------------- */
/* Layout                        */
/* ----------------------------- */

.grid-container {
  text-align: center;
  display: grid;
  place-items: center;
  padding-inline: 1rem;
}

.grid-container p:not([class]) {
  max-width: 50ch;
}

.numbered-title {
  grid-area: title;
}

/* destination layout */

.grid-container--destination {
  --flow-space: 2rem;

  grid-template-areas:
    "title"
    "image"
    "tabs"
    "content";
}

.grid-container--destination > img {
  grid-area: image;
  max-width: 60%;
}

.grid-container--destination > .tab-list {
  grid-area: tabs;
}

.grid-container--destination > .destination-info {
  grid-area: content;
}

.destination-meta {
  flex-direction: column;
  border-top: 1px solid hsl(var(--clr-white) / 0.1);
  padding-top: 2.5rem;
  margin-top: 2.5rem;
}

@media (min-width: 45em) {
  .numbered-title {
    /* background-color: red; */
  }
  .grid-container {
    text-align: left;
    column-gap: var(--container-gap, 2rem);
    grid-template-columns: minmax(1rem, 1fr) repeat(2, minmax(0, 30rem)) minmax(
        1rem,
        1fr
      );
  }

  /* .grid-container > *:first-child {
    grid-column: 2;
  }

  .grid-container > *:last-child {
    grid-column: 3;
  } */

  .grid-container--home {
    padding-bottom: max(6rem, 20vh);
    align-items: end;
  }
  .grid-container--destination {
    justify-items: start;
    align-content: start;

    grid-template-areas:
      ". title title ."
      ". image tabs ."
      ". image content .";
  }
  .grid-container--destination > img {
    max-width: 90%;
  }
  .destination-meta {
    --gap: min(5vw, 6rem);
    justify-content: start;
  }
}
@media (min-width: 35em) {
  .numbered-title {
    /* background-color: green; */
    justify-self: start;
    margin-top: 2rem;
  }
  .destination-meta {
    flex-direction: row;
    justify-content: space-evenly;
  }
}
/* crew */
.crew {
  background-image: url(../assets/crew/background-crew-mobile.jpg);
}
@media (min-width: 35rem) {
  .crew {
    background-image: url(../assets/crew/background-crew-tablet.jpg);
  }
}
@media (min-width: 45rem) {
  .crew {
    background-image: url(../assets/crew/background-crew-desktop.jpg);
  }
}
